/12207144_1920_1080_30fps.mp4
/Cars Moving On Road Stock Footage - Free Download_1080p.mp4
/istockphoto-866517852-640_adpp_is.mp4
/output_processed.mp4
/output_processed_4way.mp4
/yolov8n.pt
/yolo_results.zip
/__pycache__